<div class="{{ (is_modal? 'modal fade' :'') }}" id="modalRegistarRedefinirPasswordUserLogado" data-backdrop="static">
    <app-loading [show]="this.resetPasswordService.loading"></app-loading>
    <div class="modal-dialog modal-lg " style="max-width: 1094px">
        <div class="modal-content {{ ( !is_modal? 'modal-content-notboxshadow' :'') }}">
        <!-- Modal Header -->
        <!-- Modal body -->
      <form [formGroup]="simpleFormUser"  (ngSubmit)="onSubmit();"  >
        <div class="modal-header">
            <h4 class="modal-title">Redefinir palavra-passe</h4>
            <button class="close" type="reset" (click)="onReset()" data-dismiss="modal">&times;</button>
          </div>
        <div class="modal-body">
   <!--        <ngx-loading [show]="this.resetPasswordService.loading"></ngx-loading> -->
          <div class="row">
            <div class="col-md-6"  ><h4 style="padding: 10px; background: #d51a2b; border-radius: 4px; color: #fff;">Nome: {{user?.name}} </h4></div>
            <div class="col-md-6"  ><h4 style="padding: 10px; background: #d51a2b; border-radius: 4px; color: #fff;">Email: {{user?.email}} </h4></div>
        </div>
          <!-- /.card-body -->
          <div class="row">
            <div class="col-md-12">
                <hr>
              <div class="form-row">
                
                <div class="form-group col-md-6">
                    <label for="old_password" class="col-form-label"><i class="fa fa-asterisk"></i> Nova Senha</label>
                  <div class="input-group">
                    <input class="form-control" id="password" type="password" formControlName="password"
                      placeholder="Nova Senha" autocomplete="new-password" required
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors, 'is-valid': f.password.touched && !f.password.errors }" />
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                      <div *ngIf="f['password'].errors.required">Password é obrigatório</div>
                      <div *ngIf="f['password'].errors.minlength">{{formErrors.password.minLength}}</div>
                      <div *ngIf="f['password'].errors.pattern">{{formErrors.password.pattern}}</div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="old_password" class="col-form-label"><i class="fa fa-asterisk"></i> Confirmar Senha</label>
                  <input class="form-control" id="password_confirmation" type="password"
                    formControlName="password_confirmation" placeholder="Confirmar Senha" autocomplete="new-password"
                    required
                    [ngClass]="{ 'is-invalid': submitted && simpleFormUser.errors, 'is-valid': f.password_confirmation.touched && !simpleFormUser.errors }" />
                  <div *ngIf="submitted && simpleFormUser.errors" class="invalid-feedback">
                    <div *ngIf="simpleFormUser.errors['passwordMismatch']">As senhas não correspondem </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="form-group">
            <!-- <button class="btn btn-danger" type="reset" [disabled]="simpleFormUser.pristine && !submitted"
              (click)="onReset()">Limpar
            </button> -->
            <button class="btn btn-success mr-1" type="submit" [disabled]="simpleFormUser.valid">Validar</button>
            <button class="btn btn-primary mr-1" data-style="expand-left" type="submit"
              [disabled]="simpleFormUser.pristine || simpleFormUser.invalid">Submeter
            </button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
