

<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">

        <div class="modall fadee">
          <div class="modal-dialog" style="max-width: 100%;margin-top:0">
            <div class="modal-content" style="box-shadow: 0 0 0rem
              rgba(0,0,0,.5);">
              <div class="modal-body">
                <div class="row">
                  <label for="exampleInputEmail1" class="example-full-width  col-md-12 col-xs-12 col-sm-12"><strong>Gropo de Perfis</strong></label>
                  <mat-form-field appearance="outline" class="example-full-width
                    col-md-12 col-xs-12 col-sm-12">
                    <mat-label>Perfil</mat-label>
                    <mat-select name="perPage" >
                      <mat-option [value]="5">5</mat-option>
                      <mat-option [value]="10">10</mat-option>
                      <mat-option [value]="25">25</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
      </div>
      <div class="col-md-12">
        <div class="modall fadee">
          <div class="modal-dialog" style="max-width: 100%;margin-top:0">
            <div class="modal-content" style="box-shadow: 0 0 0rem
              rgba(0,0,0,.5);">
              <div class="modal-header">
                <h4 class="modal-title">Default Modal</h4>
              </div>
              <div class="modal-body">
                <p>One fine body…</p>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <div class="modall fadee">
          <div class="modal-dialog" style="max-width: 100%;margin-top:0">
            <div class="modal-content" style="box-shadow: 0 0 0rem
              rgba(0,0,0,.5);">
              <div class="modal-header">
                <h4 class="modal-title">Default Modal</h4>
              </div>
              <div class="modal-body">
                <p>One fine body…</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-lg pull-left"
                  data-dismiss="modal">Cancela</button>
                <button type="button" class="btn btn-success btn-lg">Gravar</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
      </div>
    </div>
  </div>
</div>
