.my-container {
    padding: 14px 10px;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px;
    border-radius: 8px;
}

legend.fieldset-border {
    width: auto !important;
}

.first-fieldset span {
    margin-bottom: 20px !important;
}


/* Container para os atributos */
.atributos-container {
    padding: 10px;
}

/* Estilo para cada card de atributo */
.atributo-card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

/* Efeito de destaque ao passar o cursor */
.atributo-card:hover {
    background-color: #e2e6ea;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Estilo para o texto dentro do card */
.atributo-card p {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.descricao-text {
    word-wrap: break-word; /* Permite que palavras muito longas sejam quebradas */
    white-space: normal;   /* Força o texto a quebrar e ocupar várias linhas */
}


app-aside-right::ng-deep aside.active .container-aside {
    width: 1600px !important;
}
