<div class="row">
    <div class="col-md-12 col-12">
        <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title"> Filtro de Dados</h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <mat-form-field appearance="outline" class="example-full-width col-md-1 col-xs-2 col-sm-2">
                                <mat-label>Entrada</mat-label>
                                <mat-select  name="perPage"
                                    [(ngModel)]="this.pagination.perPage">
                                    <mat-option [value]="5">5</mat-option>
                                    <mat-option [value]="10">10</mat-option>
                                    <mat-option [value]="25">25</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="example-full-width col-md-1 col-xs-2 col-sm-2">
                                <mat-label>Filtro</mat-label>
                                <mat-select name="type_filter" [(ngModel)]="this.filter.typeFilter">
                                    <mat-option value="" selected>Filtro</mat-option>
                                    <mat-option value="nome">Nome</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="example-full-width col-md-3 col-xs-2 col-sm-2">
                                <mat-label>Pesquisar</mat-label>
                                <input matInput [(ngModel)]="this.filter.search" placeholder='Pesquisar...'>
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>

                            <div class="col-md-1 col-xs-2 col-sm-2">
                                <mat-radio-group aria-label="Select an option" [(ngModel)]="this.filter.typeOrderBy">
                                    <mat-radio-button value="ASC"> Crescente</mat-radio-button><br>
                                    <mat-radio-button value="DESC"> Decrescente</mat-radio-button>
                                </mat-radio-group>
                            </div>

                            <div class="col-md-1 col-xs-2 col-sm-2">
                                <div class="form-group">
                                    <div class="example-button-row">
                                        <button type="button" (click)="getCampanhas()" mat-raised-button
                                            class="btn btn-info btn-flat filter-color" type="button"
                                            style="margin-top: 3px;padding: 4px 16px;"><i class="fa fa-search"></i>
                                            Filtrar</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-12">
        <div class="modall modal-info fadee" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 100%;margin-top:0">
                <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">TABELA DE CAMPANHAS</h4>
                        <div class="card-tools">
                            <button class="btn btn-outline-primary btn-sm btn-flat" type="button"
                                (click)="getCampanhas()">
                                <i class="icon-refresh"></i> Recarregar Dados
                            </button>

                            <button   *ngIf="!this.campanhaService.canActivateRouterLink('marketing-registar-campanha')"
                            class="btn btn-outline-success btn-sm btn-flat" type="button" data-toggle="modal"
                                data-target="#modalCampanhaCreateOrEdit" (click)="setCampanha(null)">
                                <i class="icon-plus"></i> Registar Campanha
                            </button>
                        </div>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <!-- /.card-body -->
                        <div class="table-responsivee">
                            <app-loading [show]="this.campanhaService.loading"></app-loading>
                            <table class="table table-hover table-bordered table-stripedd text-center m-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nome</th>
                                        <th>Descrição</th>
                                        <th>Objetivo</th>
                                        <th>Tipo Campanha</th>
                                        <th>Fase</th>
                                        <th>Orçamento</th>
                                        <th>Data de Início</th>
                                        <th>Data de Fim</th>
                                        <th>Data Criação</th>
                                        <th>Canais</th>
                                        <th>Estado</th>
                                        <th style="width: 4%;">Acção</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr
                                        *ngFor="let item of campanhas | paginate: { itemsPerPage: this.pagination.perPage, currentPage: this.pagination.page, totalItems: this.pagination.total }; index as i">
                                        <td>{{ (i+1) }}</td>
                                        <td>{{item?.nome ||'---'}}</td>
                                        <td>{{item?.descricao || '---'  | truncate:40}}</td>
                                        <td>{{item?.objectivo  | truncate:40}}</td>
                                        <td>{{item?.tipoCampanha?.nome}}</td>
                                        <td>{{item?.fase}}</td>
                                        <td>{{configService.numberFormat(item?.orcamento)}}(KZs)</td>
                                        <td>{{item?.data_inicio | date: 'YYYY-MM-dd '}}</td>
                                        <td>{{item?.data_fim | date: 'YYYY-MM-dd '}}</td>
                                        <td>{{item?.created_at | date: 'YYYY-MM-dd '}}</td>
                                        <td>{{getCanais(item?.canais) || '---'}}</td>
                                        <td>
                                            <button [style.background-color]="item?.estadoInfo?.cor" type="button"
                                                class="btn btn-block btn-lg btn-fla  text-white"> {{
                                                item?.estadoInfo?.nome || '-----'}} </button>
                                        </td>
                                        <td>
                                            <div class="btn-group btn-block">
                                                <button type="button" class="btn btn-info btn-flat btn-sm btn-block"
                                                    data-toggle="dropdown">Opções</button>
                                                <button type="button" class="btn btn-info btn-flat dropdown-toggle"
                                                    data-toggle="dropdown" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                                                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 38px, 0px);">                                             
                                                    <a 
                                                        *ngIf="!this.campanhaService.canActivateRouterLink('marketing-visualizar-campanha')" 
                                                        href="javascript:void(0)" class="dropdown-item btn-sm"
                                                        data-toggle="tooltip" data-widget="chat-pane-toggle"
                                                        data-toggle="modal"
                                                        data-target="#modalViewCampanhaCreateOrEdit"
                                                        (click)="this.visualizarCampanhaComponent.setData(item);"
                                                        title="Visualizar Campanha">
                                                        <i class="fa fa-eye"></i> Visualizar Campanha
                                                    </a>
                                                    <a *ngIf="tem?.estadoInfo?.slug !='FECHADO' && !this.campanhaService.canActivateRouterLink('marketing-editar-campanha')" 
                                                    href="javascript:void(0)" class="dropdown-item btn-sm"
                                                        data-toggle="tooltip" data-widget="chat-pane-toggle"
                                                        title="Editar" data-toggle="modal"
                                                        data-target="#modalCampanhaCreateOrEdit"
                                                        (click)="setCampanha(item)">
                                                        <i class="fa fa-edit"></i> Editar
                                                    </a>
                                                    <a *ngIf="!tem?.estadoInfo?.slug !='FECHADO' && !this.campanhaService.canActivateRouterLink('marketing-eliminar-campanha')" 
                                                     href="javascript:void(0)" class="dropdown-item btn-sm"
                                                        title="Eliminar" data-toggle="modal"
                                                        data-widget="chat-pane-toggle"
                                                        data-target="#modalEliminarProduto"
                                                        (click)="apagarCampanha(item)">
                                                        <i class="fa fa-trash"></i> Eliminar
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row" style="width: 100%;">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info">Mostrando de {{this.pagination.page}} a
                                    {{this.pagination.perPage}} de
                                    {{this.pagination.total}} Registos
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="pull-right">
                                    <pagination-controls (pageChange)="getPageFilterData($event)"
                                        previousLabel="Anterior" maxSize="6" nextLabel="Proximo" directionLinks="true"
                                        responsive="true">
                                    </pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<app-add-or-edit-campanha [is_modal]="true" (loadList)="getCampanhas()" (close)="setCampanha(null)"
    [campanha]="campanha"></app-add-or-edit-campanha>

<view-campanha [is_modal]="true" (loadList)="getCampanhas()" (close)="setCampanha(null)"
    [campanha]="campanha"></view-campanha>