<!-- <ngx-loading [show]="this.moduloService.loading"></ngx-loading> -->
<div class="modal-body">
  <div class="table-responsive">
    <app-loading [show]="permissionServiceUnchecked.loading"></app-loading>
    <div class="row col-md-12">
      <div class="col-md-7 col-xs-2 col-sm-2">
        <mat-form-field appearance="outline" class="example-full-width
                  col-md-12 col-xs-12 col-sm-12">
          <mat-label>Pesquisar Permissões por
            {{(this.filter.typeFilter==null ||
            this.filter.typeFilter=="null" ? "typeFilter" :
            this.filter.typeFilter)}}</mat-label>
          <input matInput [(ngModel)]="this.filter.search" placeholder='Pesquisar factura por
                    {{(this.filter.typeFilter==null ||
                    this.filter.typeFilter=="null" ?" typeFilter" :
                    this.filter.typeFilter.toLowerCase())}}'>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-md-2 col-xs-2 col-sm-2">
        <div class="form-group">
          <div class="example-button-row">
            <button type="button" (click)="this.listarPermissoesNaoAssociadas()" mat-raised-button
              class="btn btn-flatt filter-color-button" type="button" style="margin-top: 3px;padding: 4px 16px;"><i
                class="fa fa-search"></i>
              Filtrar</button>
          </div>
          <!-- /.input group -->
        </div>
      </div>

      <div class="col-md-3 col-xs-2 col-sm-2 pull-right float-right">
        <div class="example-button-row" *ngIf="this.submodulosAAdicionar.length>0">
          <button type="button" (click)="this.adicionarPermissoesSeleccionadas()" mat-raised-button
            class="btn btn-info btn-flatt filter-color-button" type="button" style="margin-top: 3px;padding: 4px 16px;"><i
              class="fa fa-save"></i>
            Salvar</button>
        </div>
      </div>
    </div>
    <div class="row col-md-12">
    </div>
    <table class="table table-hover table-bordered table-stripedd
      text-center m-0">
      <thead>
        <tr>
          <th>#</th>
          <th style="width: 9%;"><input type="checkbox" (change)="manipularTodosCheckBoxes($event)">
          </th>
          <th>Nome</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let permission of permissions | paginate: { itemsPerPage:
          this.paginationUnchecked.perPage, currentPage: this.paginationUnchecked.page,
          id: 'listFactUncheckedModuloPermission',totalItems: this.paginationUnchecked.total }; index as
          i">
          <ng-container *ngIf="permission.type_permission=='A'">
            <td>{{(i+1)}}</td>
            <td style="width: 9%;">
              <input (change)="pegarPermissoesSeleccionadas()" type="checkbox" value={{permission.id}}
                name={{permission.id}} class="permissaoNaoAssociada form-control" id={{permission.id}} />
            </td>
            <td class="text-justify">{{ permission.name }}</td>
            <td class="text-justify">{{ permission.description }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <div class="row" style="width: 100%;">
    <div class="col-sm-12 col-md-5">
      <div class="dataTables_info">Mostrar de
        {{paginationUnchecked.page}} a
        {{paginationUnchecked.perPage}} de
        {{paginationUnchecked.total}} registo{{ (
        paginationUnchecked.total > 1? 's':'')}}
      </div>
    </div>
    <div class="col-sm-12 col-md-7">
      <div class="pull-right">
        <pagination-controls (pageChange)="getPageFilterDataUnchecked($event)" previousLabel="Anterior" maxSize="6"
          nextLabel="Próximo" directionLinks="true" responsive="true" id='listFactUncheckedModuloPermission'>
        </pagination-controls>
      </div>
    </div>
  </div>
</div>